<div id="tooplate_wrapper">
<div id="tooplate_bottom">
  <div class="col col_5 no_mb">
    <h3>Мени</h3>
    <ul class="nobullet bottom_list">
      <li><a href="home">Дома</a></li>
      <li><a href="books">Книги</a></li>
      <li><a href="coupons">Купони</a></li>
      <li><a href="vote">Гласај и добиј</a></li>
      <li><a href="contact">Контакт</a></li>
    </ul>
  </div>

  <div class="col col_5 no_mb">
    <h3>Контактирајте не</h3>
    <ul class="nobullet bottom_list">
      <li>ул.Љубљанска</li>
      <li>Општина Карпош</li>
      <li>тел. 0223-8965-3652</li>
      <li>факс. 895624412</li>
    </ul>
  </div>

  <div class="col col_5 no_mb">
    <h3>Twitter</h3>
    <p>Станете дел од нашето големо семејство на Твитер.Биди и ти дел од нас!</p>
    <a href="#">Follow me on Twitter(da dodadam nekoja pateka od tviter)
      Treba pateki i dolu kaj yt,twiter,fb</a>
  </div>

  <div class="clear"></div>
</div>
<div id="tooplate_footer">
  <div class="col_32 left">
    Copyright © 2021 Bookstore
  </div>
  <div class="col_3 right" style="text-align: right">
    <a href="#"><img src="images/twitter2.png" alt="Twitter" /></a>
    <a href="#"><img src="images/youtube.png" alt="Youtube" /></a>
    <a href="#"><img src="images/facebook.png" alt="Facebook" /></a>
  </div>
  <div class="clear"></div>
</div>
</div>
